<div class="twin topl">
  <div style="tcontent">
  </div>
  <div id="content">
    {{#each commands}}
      {{#if markup}}
        <hr class="prompt-break">
        <span class="prompt1">ryan</span><span class="prompt2">@</span><span class="prompt3">themainframe</span><span class="prompt4"></span> <span>cat {{args}}</span>
        <div class="cat">
          {{{markup}}}
        </div>
      {{else}}
        <hr class="prompt-break">
        <span class="prompt1">ryan</span><span class="prompt2">@</span><span class="prompt3">themainframe</span><span class="prompt4"></span> <span>ls {{args}}</span>
        {{#each lsList}}
          {{> lsTemplate}}
        {{/each}}
      {{/if}}
    {{/each}}

  </div>
</div>

