;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.28.2"]]

 :builds
 {:app {:target :node-script
        :output-to "bin/main.js"
        :main rmjxyz.app/main!
        :devtools {:after-load rmjxyz.app/reload!
                   :repl-pprint true}
        :release {:optimizations :advanced
                  :source-map true
                  :source-map-detail-level :all}
        :compiler-options {:output-feature-set :es8}
        }
  }
 }
