  </div>
</div>
<div class="fttr">
  <a href="https://www.gnu.org/software/emacs/">
    <img alt="POWERED BY EMACS" src="../res/stickies/emacs.png" />
  </a>
  <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">
    <img alt="GPLv3" src="../res/stickies/gplv3.png" />
  </a>
  <a href="https://www.sxemacs.org/">
    <img alt="POWERED BY SXEMACS" src="../res/stickies/sxe.png" />
  </a>
  <a href="https://www.xemacs.org/">
    <img alt="POWERED BY XEMACS" src="../res/stickies/xe.png" />
  </a>

  <a href='https://ipv6-test.com/validate.php?url=referer'>
    <img src='../res/stickies/button-ipv6-big.png' alt='ipv6 ready' title='ipv6 ready'>
  </a>
  
  <a href="https://jigsaw.w3.org/css-validator/check/referer">
    <img src="../res/stickies/vcss.gif" alt="Valid CSS!">
  </a>
</div>
