<div id="task-meta" class="topl">
  <h4 style="margin-left:1em; margin-top:0.5em;">Links</h4>
  <hr>
  
  <div id="taskbar">
    <div id="home">
      <a href="../index.html"><img src="../res/user-home.png" alt="Homepage" class="taskimg"></a>
      <h4>Home</h4>
    </div>

    <div id="blog">
      <a href="posts/"><img src="../res/folder-documents.png" alt="Blog" class="taskimg"></a>
      <h4>Blog</h4>
    </div>

    <div id="files">
      <a href="files/"><img src="../res/ktorrent.png" alt="Files" class="taskimg"></a>
      <h4>Files</h4>
    </div>
    
    <div id="git-server">
      <a href="https://git.ryanmj.xyz"><img src="../res/folder-git.png" alt="git" class="taskimg"></a>
      <h4>Git Server</h4>
    </div>

    <div id="contact-me">
      <a href="mailto:ryan@ryanmj.xyz"><img alt="Email me" src="../res/kopete.png"/></a>
      <h4>Contact Me</h4>
    </div>
  </div>
</div>
    
<div class="twin topl">
  <div style="tcontent">
