<div class="ewin">
  <ul>
    <li><a href="/">..</a></li>
    <% @posts.each do |post| %>
      <li>
        <a href="/posts/<%= post.url %>">
          <%= post.title %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
