<div class="ewin">
  <table>
    <tr>
      <th><a href="/">Name</a></th>
      <th>Created</th>
      <th>Last Updated</th>
    </tr>
    <% @posts.sort_by(&:created_at).reverse.each do |post| %>
      <tr>
        <th>
          <a href="/posts/<%= post.url %>">
            <%= post.title %>
          </a>
        </th>
        <th>
          <%= post.created_at.strftime("%Y %b %d") %>
        </th>
        <th>
          <%= post.updated_at.strftime("%Y %b %d") %>
        </th>
      </tr>
    <% end %>
  </table>
</div>
