<div class="ewin">
  <pre>
 ____                    _     
|  _ \ _   _  __ _ _ __ ( )___ 
| |_) | | | |/ _` | '_ \|// __|
|  _ <| |_| | (_| | | | | \__ \
|_| \_\\__, |\__,_|_| |_| |___/
       |___/                   
 _   _                                             
| | | | ___  _ __ ___   ___ _ __   __ _  __ _  ___ 
| |_| |/ _ \| '_ ` _ \ / _ \ '_ \ / _` |/ _` |/ _ \
|  _  | (_) | | | | | |  __/ |_) | (_| | (_| |  __/
|_| |_|\___/|_| |_| |_|\___| .__/ \__,_|\__, |\___|
                           |_|          |___/      
  </pre>
  <p>This website is a celebration of old computer technology.</p>
</div>
<div class="ewin">
  <h3>Navigation</h3>
  <ul>
    <li><a href="/posts">Posts</a></li>
    <% @posts.each do |post| %>
      <li>
        <a href="/<%= post.url %>">
          <%= post.title %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
<div class="ewin">
  <h3>Some cool peeps to check out.</h3>
  
  <ul>
    <li><a href="https://kylemcd.xyz">My Friend Kyle's Blog</a></li>
    <li>Xah Lee's Blog (G©©g£€ it, I will not link to it becasue no https)</li>
    <li><a href="https://lukesmith.xyz">Luke Smith</a></li>
  </ul>        
</div>
