<div class="twin">
  <div style="tcontent">
  </div>
  <div id="content">
    <hr class="prompt-break">
    <span class="prompt1">ryan</span><span class="prompt2">@</span><span class="prompt3">themainframe</span><span class="prompt4"></span> <span>cat </span>
    <div class="cat">
    </div>
  </div>
</div>
